body {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

#contenedor2 {
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    width: 600px;
    height: 600px;
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    
}

.box1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:red;
}
.box2 {
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:blue;
}
.box3 {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color:green;
}